.venv/
__pycache__/
*.pyc
.ipynb_checkpoints/
.DS_Store
# Heruntergeladene Datensätze nicht committen
**/daten/*.csv
**/daten/*.zip
**/daten/*.tsv
**/daten/*.db
**/daten/*.txt
**/daten/*.conllu
**/daten/*.model
**/daten/*.vocab
**/daten/*.npz
**/daten/*.jpg
**/daten/*.jpeg
**/daten/*.png
!**/daten/README.md
**/daten/SMSSpamCollection
**/daten/readme*
**/daten/FashionMNIST/
**/daten/eurosat/
**/daten/EuroSAT/

# Projekt-Ausgaben
**/ergebnisse/
